// navbar styling
@mixin header-nav {
  width: 100%;
  background-color: $extra-dark-color;
  font-size: 1em;
  color: $light-color;

  ul {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex: 1;
    margin: 0 2rem 0 2rem;

    li {
      padding: 1.5rem;
      a {
        padding: 15px 0px;
        position: relative;
      }
      a:after {
        bottom: 0;
        content: "";
        height: 2px;
        left: 50%;
        position: absolute;
        background: $light-color;
        transition: 0.3s;
        width: 0;
      }
      a:hover:after {
        width: 100%;
        left: 0;
      }
    }

    #home-link {
      margin-right: auto;
    }
  }
  // navbar media queries
  @media (max-width: 800px) {
    ul {
      flex-direction: column;
    }
  }
}
// hover-effect styling for buttons
@mixin button-effect {
  color: $effect-color;
  border-color: $effect-color;
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
}
// general styling for all pages
@mixin general-styling {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: $main-font;
    line-height: 1.6;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    color: inherit;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
  }

  html {
    scroll-behavior: smooth;
  }
}
