@import "variables";
@import "functions";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Allmän styling
@include general-styling;
body {
  background-color: darken($light-color, 10%);
}
// navbaren
nav {
  @include header-nav;
}
// grid setup
.grid-container {
  display: grid;
  grid-template-rows: 100vh 1fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    "home home home"
    "about about about"
    "portfolio portfolio portfolio";
}

// styling for home / landing page section
#home {
  grid-area: home;
  background-color: $dark-color;
  display: flex;
  justify-content: center;
  align-items: center;

  #hello-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: $light-color;
    }
    p {
      color: $light-color;
    }

    a {
      padding: 1rem;
      margin: 1.5rem;
      background-color: $dark-color;
      border: 2px solid $primary-color;
      color: $primary-color;
      transition: 0.2s;

      &:hover {
        @include button-effect;
      }
    }
  }
}
// styling for about me and education section
#about {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "left intro right"
    "tech tech tech";
  margin-top: 2rem;
  grid-area: about;
  background: darken($light-color, 10%);
  // grid-column-start: 2;
  // grid-column-end: 2;
  align-items: center;
  h2 {
    margin-bottom: 2rem;
  }

  #introduction-container {
    padding: 2rem;
    grid-area: intro;

    // display: flex;
    // flex-direction: column;
    text-align: center;
  }
  #tech-container {
    padding: 2rem;
    grid-area: tech;
    text-align: center;
    background-color: white;

    #tech-list {
      font-size: 1.5rem;
      margin: auto;
      width: 30%;
    }
  }
}
#portfolio {
  grid-area: portfolio;
  align-items: center;
  text-align: center;
  #project-list {
    display: flex;
    margin: 5rem;
    justify-content: center;

    .project-container {
      width: 350px;
      height: 450px;
      border: 1px solid black;
      margin: 1rem;

      .project-img {
        border: 1px solid red;
        width: 350px;
        height: 300px;
      }
    }
  }
}
//footer styling
footer {
  padding: 2rem;
  background-color: $extra-dark-color;
  color: $light-color;
  text-align: center;
  h2 {
    margin-bottom: 2rem;
  }
  #arrow {
    padding: 2rem;
    grid-area: arrow;
    width: 100%;
    display: flex;
    justify-content: center;
    &-img {
      width: 80px;
    }
  }
}
//madia queries for ipad
@media (max-width: 800px) {
  #about {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 2rem;
    #introduction-container {
      width: 100%;
    }
  }
}
@media (max-width: 450px) {
  #about {
    grid-template-rows: 2fr 2fr 4fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "image image"
      "about about"
      "education education"
      "arrow arrow";
  }
  #cv-img-container {
    margin: 0 auto;
  }
}
