@import "variables";
@import "functions";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Allmän styling
@include general-styling;
// navbaren
body {
  background-color: $dark-color;
  color: $light-color;
}
nav {
  //position: fixed;
  grid-area: nav;
  @include header-nav;
}
// grid setup
.grid-container {
  //height: 100vh;
  display: grid;
  grid-template-rows: 2fr 8fr 2fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "heading heading heading"
    "project project project"
    "footer footer footer";
}
//page intro
#portfolio-intro {
  color: $light-color;
  //border: 1px solid red;
  margin-top: 2rem;
  grid-area: heading;
  text-align: center;
  h1 {
    font-size: 4rem;
  }
}
#projects-container {
  margin-top: 3rem;
  grid-area: project;
  grid-column-start: 2;
  grid-column-end: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 900px;
  .card {
    border-color: $dark-color;
    border-width: 2px;
    background-color: $dark-color;
    .card-img-top {
      height: 180px;
    }

    .card-body {
      text-align: center;
      background-color: $extra-dark-color;
      border-radius: 10px;
      .card-title {
        font-size: 1.5rem;
      }
      &:hover {
        //background-color: $primary-color;
      }

      .btn {
        padding: 0.5rem;
        margin: 1.5rem;
        background-color: $dark-color;
        border: 2px solid $primary-color;
        color: $primary-color;
        //visibility: hidden; // när man hovrar över projectet ska knappen visas
        //display: hidden;
        &:hover {
          @include button-effect;
        }
      }
    }
  }
}
//modal styling
.modal-header {
  background-color: $primary-color;
  text-align: center;
  h3 {
    text-align: center;
  }
}
.modal-content {
  color: black;
}
.modal-footer {
  background-color: darken($light-color, 10%);
  button {
    color: $light-color;
    background-color: $dark-color;
    border-color: $light-color;
    &:hover {
      color: $light-color;
    }
  }
  a {
    background-color: $light-color;
    color: $dark-color;
    border-color: $light-color;
  }
}

// media queries for ipad and iphones
@media (max-width: 1000px) {
  #projects-container {
    min-width: 600px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  #projects-container {
    min-width: 300px;
    grid-template-columns: 1fr;
  }
  .grid-container {
    grid-template-rows: 1fr 10fr 1fr;
  }
}
